*.log
*.swp
*.out
*.dump
*.log.*
*.tmp
*.rdb

.DS_Store
.htaccess

/bin
/tmp
/config/redis8.conf
/config/sentinel8.conf

makefile
!extern/redis-8.6.3/Makefile
!extern/redis-8.6.3/src/Makefile
redis-6.2.22/
